/* Général */

body {
    margin: 0;
}

.corptext {
    background: white; 
    color: black; 
    width: 1440px; 
    margin-left: auto;
	margin-right: auto;
}

header, section, footer {
    display: flex; 
    justify-content : center
}

i {
    padding-right: 10px;
    color: yellowgreen;
}

/* Partie gauche */


.bgauche {
    width: 432px; 
    background-color: yellowgreen;
    
    & p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
}
header .bgauche {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.titregauche {
    text-align: center;
    background-color: grey;
    color: yellowgreen;
    font-size: 1.5em;    
}

#photo {
    width: 50%;
    border-radius: 100px;
}

.loisir {
    width: 20%;
}

.hobbiesphoto {    
    display: flex;
    justify-content: space-around;
}

.fa-hiking, .fa-gamepad, .material-icons {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 3em;
}

/* Partie droite */


.bdroit {
    width: 864px;
    padding-left: 40px;
    border-right: 1px solid grey;
}

h1, h2 {
    font-weight: normal;
    margin-block-end: 0;
    & span {
        color: yellowgreen; 
        font-style: normal;
    }
}

h1{
    font: 2.2em;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 1em;
}

h5 {
    font-size: 1.0em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.imagealign {
    display: flex;
    align-items: center;
}

#trait_court {
    margin-top: 10px;
    border-top: 1px solid yellowgreen;
    width: 10%;
}

.trait {
    clear: both;
    border-top: 1px solid yellowgreen;
    width: 90%;
    padding-bottom: 10px;
}

.ssbloc {
    display: flex;
}

.annee {
    width: 30%;
}

.realisation {
    width: 60%;
}

.reconaissance {
    display: flex;
    justify-content: space-around;
}

.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    font-size: 2em;
}

.fa-dot-circle {
    font-size: 0.9em;
}

.fa-circle {
    font-size: 0.5em;
}

@media screen and (min-width: 481px) and (max-width: 1440px) {
    .corptext {
        width: 100%;
        flex-direction: column;
    }
    #photo {
        width: 50%;
    }

    header, section, footer {
        width: 100%;
    }

    .bgauche {
        width: 40vw;
        font-size: 2.3vw;
    }
    .bdroit {
        width: 60vw;
        font-size: 2vw;
    }
  
}

@media screen and (max-width: 480px) {

.corptext {
    width: 100%;
}

header, section, footer {
    flex-direction: column;
    & .bdroit {
        border-right: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.bgauche, .bdroit {
    width: auto;
}

h1, h2 {
    text-align: center;
}

.trait_court {
    visibility: hidden;
}

}